
.gridContainer {
    display:flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.interestButton {
    background-color: lightgrey;
    color:black;
    width: 8em;
    height: 2.3em;
    align-items: center;
    justify-items: center;
    box-sizing: content-box;
}

.selectedButton {
    background-color: var(--secondary-color);
    color:white;
}


.buttonIcon {
    font-size: 1.3rem;
    margin-right: 10px;
    justify-items: start;
    align-items: center;
    display: flex;
}

