.featuredCategoriesWrap {
  margin-top: 0em;

  .title {
    color: #888;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    padding-left: 1.5em;
    width: fit-content;
    display: block;
  }
}

.statsWrap {
  position: relative;
  margin: 0 -1.25em;

  &:before,
  &:after {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
  }

  &:before {
    left: 0;
    content: '';
    width: 136px;
    height: 334px;
    background-image: url(https://cdn.optimizely.com/img/14069890047/72ae3620b85d48c1878cbe4d0866665d.png);

    // @media screen and (min-width: 768px) {
    //   left: 2em;
    // }
  }

  &:after {
    content: '';
    width: 173px;
    height: 353px;
    background-image: url(https://cdn.optimizely.com/img/14069890047/efeeb04eb14c4a70a1b3ac360ea795d2.png);
    top: 0rem;
    right: 0;
  }

  .title1 {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.75em;
    text-align: center;
  }

  .title2 {
    color: #888;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
  }

  .statsBoxes {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
    padding: 0 1rem;

    &> :not(:last-child) {
      border-right: 1px #eee solid;
    }

    .box {
      padding: 2.4rem;
      text-align: center;

      .title,
      .text {
        margin: 0;
      }

      .title {
        color: var(--forth-color);
        font-weight: 400;
        font-size: 1.75em;
      }

      .text {
        font-weight: 300;
        color: #888;
        font-size: 0.9em;
      }
    }

    @media screen and (max-width: 767px) {
      // Mobile
      flex-direction: column;
      padding: 0;

      &> :not(:last-child) {
        border: none;
      }

      .box {
        padding: 1rem;
      }
    }
  }
}

.highfiveTitle{
  color: #fff;
  font-size: 4em;
  width: 100%;
  font-weight: 400;
}

.highfiveText{
  color: #fff;
  font-size: 1em;
  width: 100%;
  font-weight: 300;

}

.heroImgCrop {
  position: relative;
  border-top: #ddd 3px solid;
  border-bottom: #ddd 3px solid;
  display: flex;
  margin: 0 -1.25rem;
  margin-top: 2em;
  max-height: 30em;
  overflow: hidden;
  justify-content: center;

  img {
    object-fit: cover;
  }

  .overPhoto {
    position: absolute;
    bottom: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    height: 100%;
    width: 100%;
    background-color: #0000004a;
    margin: -1em; // fix margin

    button {
      width: fit-content;
    }
  }
}

.featuredPostsTitle {
  color: #888;
  font-weight: 400;
  font-size: 1em;
  margin-top: 2em;
  padding-left: 1.5em;
}

.heroBanner {
  display: flex;
  gap: 3em;
  height: min-content;
  margin: 4em 0;

  .imgCrop {
    width: 100em;
    height: 17em;
    overflow: hidden;
    align-items: center;
    display: flex;

    img {
      object-fit: cover;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;

    .imgCrop {
      width: 100%;
      max-height: 30rem;
    }
  }

  .textWrap {
    border-left: var(--third-color) 0.4em solid;
    padding-left: 1em;
    height: fit-content;

    h1 {
      font-weight: 400;
      font-size: 2.3em;
    }

    p {
      color: #444;
    }
  }
}

@media screen and (max-width: 767px) {

  .highfiveTitle {
    font-size: 2.5em;
  }
}